body {
	padding-top: 20vh;
	background-color: #9400D3;
}

img {
	display: block;
	margin: auto;
}

/* If the viewport width is AT LEAST 300 pixels wide (viewport width >= 300px), the image below is displayed */
@media screen and (min-width: 300px) {
	img {
		content:url(images/gundalf.jpg);
	}
}

@media screen and (min-width: 400px) {
	img {
		content:url(images/fivefingershine.jpg);
	}
}

@media screen and (min-width: 500px) {
	img {
		content:url(images/evening-star.JPG);
	}
}
@media screen and (min-width: 1000px) {
	img {
		content:url(images/rwby-7.jpg);
	}
}
                  body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;	
}

.brown {
	background-color: #AA896A;
	height: 100vh;
	width: 50vw;
}

.purple {
	background-color: #84577E;
	height: 100vh;
	width: 50vw;
}

@media screen and (max-width: 700px) {
body {
	float: left;
display: inline;	
	}
	
	.brown {
	background-image: url("block.jfif");
	height: 50vh;
	width: 100vw;
	margin-left: 0;
	}

	.purple {
	background-color: #84577E;
	height: 50vh;
	width: 100vw;
	margin-left: 0;
	}
}
