body{
	height:100vh;
	width:100vw;
	display: block;
}

.menu-bar{
	height:10%;
	width:100%;
	background-color:purple;
	display:flex;
	color:orange;

}
.ac{
	height:10%;
	width:33%;
	display:flex;
	color:orange;
}
.dc{
	height:10%;
	width:34%;
	display:flex;
	color:orange;
    justify-content: center;
	align-items: center;
}

.cd{
	height:10%;
	width:33%;
	display:flex;
	color:orange;

}

.silver{
	height:35%;
	width:100%;
	display:flex;
}
.red{
	height:20%;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.mouse{
	height:35%;
	width:100%;
	display:flex;
}
.col1{
	height:100%;
	width:50%;
	display:flex;
	background-color:#3b74ce;
	justify-content: center;
	align-items: center;
}
.col2{
	height:100%;
	width:50%;
	display:flex;
	background-color:#475368;
	justify-content: center;
	align-items: center;
}
.col3{
	height:100%;
	width:50%;
	display:flex;
	background-color:#d3521b;
	justify-content: center;
	align-items: center;
}
.col4{
	height:100%;
	width:50%;
	display:flex;
	background-color:#40d31b;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 700px){
	
	body{
	height:100vh;
	width:100vw;
	display:block;
}

.menu-bar{
	height:10%;
	width:100%;
	background-color:purple;
	display:block;
 color:orange;
}
.ac{
	height:33%;
	width:100%;
	display:block;
	color:orange;
}
.dc{
	height:34%;
	width:100%;
	display:block;
	color:orange;
}

.cd{
	height:33%;
	width:100%;
	display:block;
	color:orange;
}

.silver{
	height:35%;
	width:100%;
	display:block;
	background-color:;
	}

.red{
	width:100%;
	display:block;	
}
.mouse{
	height:35%;
	width:100%;
	display:block;
}
.col1{
	width:100%;
	display:block;
	background-color:#3b74ce;
}
.col2{
	width:100%;
	display:block;
	background-color:#475368;
}
.col3{
	width:100%;
	display:block;
	background-color:#d3521b;
}
.col4{
	width:100%;
	display:block;
	background-color:#40d31b;
}

