body{
	height:100vh;
	width:100vw;
	display: block;
}

.menu-bar{
	height:10%;
	width:100%;
	background-color:purple;
	display:flex;
	color:orange;

}
.ac{
	height:10%;
	width:33%;
	display:flex;
	color:orange;

}
.dc{
	height:10%;
	width:34%;
	display:flex;
	color:orange;

}

.cd{
	height:10%;
	width:33%;
	display:flex;
	color:orange;

}

.silver{
	height:35%;
	width:100%;
	display:flex;
}
.red{
	height:20%;
	width:100%;
	background-image: url("imagess/dd.png");
	display:flex;
}
.mouse{
	height:35%;
	width:100%;
	display:flex;
}
.col1{
	height:100%;
	width:50%;
	background-image: url("imagess/Medieva.jpg");
	display:flex;
}
.col2{
	height:100%;
	width:50%;
	background-image: url("imagess/weapons.jpeg");
	display:flex;
}
.col3{
	height:100%;
	width:50%;
	background-image: url("imagess/coinss.jpg");
	display:flex;
}
.col4{
	height:100%;
	width:50%;
	background-image: url("imagess/cartt.jpg");
	display:flex;
}
@media screen and (max-width: 700px){
	
	body{
	height:100vh;
	width:100vw;
	display:block;
}

.menu-bar{
	height:10%;
	width:100%;
	background-color:purple;
	display:block;
 color:orange;
}
.ac{
	height:33%;
	width:100%;
	display:block;
	color:orange;

}
.dc{
	height:34%;
	width:100%;
	display:block;
	color:orange;

}

.cd{
	height:33%;
	width:100%;
	display:block;
	color:orange;

}

.silver{
	height:35%;
	width:100%;
	display:block;
}
.red{
	height:20%;
	width:100%;
	background-image: url("imagess/dd.png");
	display:block;	
}
.mouse{
	height:35%;
	width:100%;
	display:block;
}
.col1{
	height:50%;
	width:100%;
	background-image: url("imagess/Medieva.jpg");
	display:block;
}
.col2{
	height:50%;
	width:100%;
	background-image: url("imagess/weapons.jpeg");
	display:block;
}
.col3{
	height:50%;
	width:100%;
	background-image: url("imagess/coinss.jpg");
	display:block;
}
.col4{
	height:100%;
	width:100%;
	background-image: url("imagess/cartt.jpg");
	display:block;
}

