 
 body {
	 width: 100vw;
	 height: 100vh;

 margin: 0; 
 }
.a1 {
	
display: block;	
	width: 100%;
	height: 50%
	
}
.a2 {

	display: flex;
	width: 100%;
	height: 50%;
}
.a3{ 
display: block;
width: 50%;
height: 100%;


}

.a4{ 
display: block;
width: 50%;
height: 100%;
}
.S  {
	display: block;
	width: 100%;
    padding-right: 50px;
    padding-left: 30px;
}
@media screen and (max-width: 700px) {


 body {
	 width: 100vw;
	 height: 100vh;
 margin: 0; 
 }
.a1 {
	
display: block;	
	width: 100%;

	
}

.a2{
	display: block;
	width: 100%;
}
.a3{ 

display: block;
width: 100%;
height: 50%;


}

.a4{ 
display: block;
width: 100%;
height:50%;




}

.S  {
	display: block;
	width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}